@{
    if(IsPost)
    {
        string empresa= Request.Form["Empresa"];
        string nombre= Request.Form["Nombre"];
        int nrousuario = Request.Form["Nrousuario"].AsInt();
        
        <text>
            usted a ingresado: <br />
            nombre de la empresa: @empresa <br />
            nombre del usuario:  @nombre <br />
            nro de usuario: @nrousuario <br />
        </text>
    }
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>añadir usuario</title>
</head>
<body>
    <form action="" method="post">
        <fieldset>
            <legend>Agregar Usuario</legend>
            <div>
                <label>Empresa: </label>
                <input type="text" name="Empresa" value=" " />
            </div>
            <div>
                <label>Nombre: </label>
                <input type="text" name="Nombre" value=" " />
            </div>
            <div>
                <label>Nro de Usuario</label>
                <input type="text" name="Nrousuario" value=" " />
            </div>
            <div>
                <label>&nbsp;</label> 
                <input type="submit"   value="Aceptar "  />                     
            </div>
        </fieldset>

    </form>

   

</body>
</html>